/* ========================= */
/*       GLOBAL STYLES       */
/* ========================= */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #cccccc; 
}

.slider {
    position: relative;
    height: 80vh; 
    overflow: hidden;
}

.slider-background {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; 
    filter:brightness(50%);
    filter:blur(8px);
}

.slider-content {
    margin-bottom: 5px; 
    position: relative;
    z-index: 2; 
    color: rgb(207, 207, 207); 
    text-align: center; 
    top: 45%; 
    transform: translateY(-50%); 
}



h1, h2, p {
    margin: 10px 0 0; 
}


h1 {
    font-size: 5em; 
}

h2 {
    font-size: 3.5rem;
}

p {
    font-size: 1.5em; 
    line-height: 1.5em;
}

.section {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 50px 10%;
}


.flex {
    display: flex;
    align-items: center; 
    gap: 40px; 
}

.w40 {
    width: 30%; 
    text-align: left; 
}


.w60 {
    width: 70%;
    color: #efefef; 
}

.text-center{
    text-align: center;
}

.w25{
    width: 25%;
}

.gap20{ 
    gap: 20px;
}

/* ========================= */
/*         HEADER            */
/* ========================= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(204, 204, 204);
    z-index: 999;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center; 
}

.header-menu {
    display: flex;
    list-style: none;
}

.header-menu li {
    margin: 0 10px; 
}

.header-menu li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border-radius: 10px; 
    display: block;
}

.header-menu li a:hover {
    background-color: #b1b1b1;
    border-radius: 20px; 

}


/* ======================= */
/*        FOOTER           */
/* ======================= */

.footer {
    background-color: #6e6c6c;  
    color: white;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

.footer .copyright {
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer .social-icons .icon {
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.footer .social-icons .icon img {
    width: 30px;  
    transition: transform 0.3s ease-in-out;
    filter: grayscale(50%); 
}

.footer .social-icons .icon:hover img {
    transform: scale(1.2);  
    filter: grayscale(0%);  
}


/* ========================= */
/*      SECTION CONTACT      */
/* ========================= */

.contact-section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

/* Conteneur principal */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

/* ========================= */
/*    INFORMATIONS CONTACT   */
/* ========================= */

.contact-info {
    flex: 1;
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 10px;
    text-align: left;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.info-item i {
    font-size: 26px;
    color: #000000;
}

.contact-info h2 {
    color: #929292;
    font-size: 1.3rem;
    margin-bottom: 5px;
}


.map-container iframe {
    width: 100%;
    height: 360px;
    border-radius: 10px;
    border: none;
}

/* ========================= */
/*     FORMULAIRE CONTACT    */
/* ========================= */

.contact-form {
    flex: 1;
    padding: 100px;
    background: #ecf0f1;
    border-radius: 9px;
    text-align: left;
}

.contact-form h2 {
    font-size: 1.7rem; 
    text-align: center; 
    width: 100%; 
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    color: #2c3e50;
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #cccccc;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #575757;
}

/* ========================= */
/*        RESPONSIVE         */
/* ========================= */

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
    }
}

